.detailsBox {
  width: 600px;
  height: 100%;
  background-color: rgba(26, 44, 100, 0.4);
  border: 1px solid #2b6eeb;

  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 8px;
  color: #fff;
}
