.header {
  width: 80%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;

  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 99999;
}

.cta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cta_btn {
  font-family: "montreal", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
