.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.btn {
  font-family: "montreal", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.header p {
  font-size: 1rem;
  color: #171717;
  font-family: "montreal", sans-serif;
}
